{{ form_start(form,{'attr':{'id':'form_tipo_consulta'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" id="boton123">{{ button_label|default('Confirmar') }}</button>
{{ form_end(form) }}
