{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}

{% if rol == "DIG_OPERADOR" %}

<a type="button" href="{{ path('norma_nueva') }}">Create new</a>

{% endif %}

    {% for norma in normas %}
    <div class="container mt-2 mb-2">
        <div class="card text-center shadow mb-2 bg-white rounded">
            <div class="card-body text-left" >
                <a  href="{{path('norma_show', {'id': norma.id})  }}">{{ norma.titulo }}</a>
            </div>
        </div>
    </div>
        {% endfor %}

    
    
{% endblock %}