{% extends 'base.html.twig' %}

{% block title %}Titulo index{% endblock %}

{% block body %}
    <h1>Titulo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for titulo in titulos %}
            <tr>
                <td><button > <a class="btn btn-dark"href="{{ path('titulo_new') }}">> ><a  href="{{ path('capitulo_de_titulo', {'id': titulo.id}) }}">{{ titulo.nombre }}</a></a></button></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('titulo_new') }}">Create new</a>
{% endblock %}
