{% extends 'base.html.twig' %}

{% block title %}Edit TipoRelacion{% endblock %}

{% block body %}
    <h1>Editar Tipo de relacion</h1>
    <div class="container text-left" >
        <div class="mt-3 p-3 border border-secondary rounded bg-light shadow mb-5 bg-white ">
    {{ include('tipo_relacion/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a href="{{ path('tipo_relacion_index') }}" class="btn btn-primary">Cancelar</a>
        </div></div>
{% endblock %}
