{% extends 'base.html.twig' %}

{% block title %}New TipoRelacion{% endblock %}

{% block body %}
<header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header>

    <h1>Crear un nuevo tipo de relacion</h1>

    {{ include('tipo_relacion/_form.html.twig') }}

    <a href="{{ path('tipo_relacion_index') }}">back to list</a>
{% endblock %}
