{% extends 'base.html.twig' %}

{% block title %}New TipoRelacion{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('createCss') }}
{% endblock %}

    <h1>Nuevo tipo de relacion</h1>

    {{ include('tipo_relacion/_form.html.twig') }}

    <a href="{{ path('tipo_relacion_index') }}" class="btn btn-primary">Cancelar</a>
{% endblock %}
