{% extends 'base.html.twig' %}

{% block title %}Edit TipoNormaReparticion{% endblock %}

{% block body %}
    <h1>Edit TipoNormaReparticion</h1>

    {{ include('tipo_norma_reparticion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tipo_norma_reparticion_index') }}">back to list</a>

    {{ include('tipo_norma_reparticion/_delete_form.html.twig') }}
{% endblock %}
