{% extends 'base.html.twig' %}

{% block title %}New TipoNormaReparticion{% endblock %}

{% block body %}
    <h1>Create new TipoNormaReparticion</h1>

    {{ include('tipo_norma_reparticion/_form.html.twig') }}

    <a href="{{ path('tipo_norma_reparticion_index') }}">back to list</a>
{% endblock %}
