{% extends 'base.html.twig' %}

{% block title %}Edit Norma{% endblock %}

{% block body %}
    <h1>Edit Norma</h1>

    {{ include('norma/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('norma_index') }}">back to list</a>

    {{ include('norma/_delete_form.html.twig') }}
{% endblock %}
