{% extends 'base.html.twig' %}

{% block title %}TipoNormaRol{% endblock %}

{% block body %}
    <h1>TipoNormaRol</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_norma_rol.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_norma_rol_index') }}">back to list</a>

    <a href="{{ path('tipo_norma_rol_edit', {'id': tipo_norma_rol.id}) }}">edit</a>

    {{ include('tipo_norma_rol/_delete_form.html.twig') }}
{% endblock %}
