{% extends 'base.html.twig' %}

{% block title %}Tema index{% endblock %}

{% block body %}
    <h1>Tema index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for tema in temas %}
            <tr>
                <td>
                    <a href="{{ path('normas_de_tema', {'id': tema.id}) }}">{{ tema.nombre }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tema_new') }}">Create new</a>
{% endblock %}
