<form method="post" action="{{ path('relacion_delete', {'id': rela.id}) }}" onsubmit="return confirm('¿Estás seguro que quieres borrar esta relación?Se borrará en las dos normas.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rela.id) }}">
    <button class="btn btn-danger btn-sm d-inline"><i class="fa-solid fa-trash-can"></i></button>
</form>
