{% extends 'base.html.twig' %}

{% block title %}Edit Relacion{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('createCss') }}
{% endblock %}
    <h1>Edit Relacion</h1>

    {{ include('relacion/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a href="{{ path('relacion_index') }}" class="btn btn-primary">Cancelar</a>

{% endblock %}
