{% extends 'base.html.twig' %}

{% block title %}New Relacion{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('createCss') }}
{% endblock %}

    <h1>Editar relacion</h1>
    <div class="container text-left" >
        <div class="mt-3 p-3 border border-secondary rounded bg-light shadow mb-5 bg-white ">
            {{ include('relacion/_form.html.twig') }}
            <a class="btn btn-primary" href={{app.request.headers.get('referer')}}>Volver</a>
        </div>
    </div>
    
{% endblock %}
