{% extends 'base.html.twig' %}

{% block title %}New Relacion{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('createCss') }}
{% endblock %}

    <h1>Editar relacion</h1>

    {{ include('relacion/_form.html.twig') }}

    <a class="btn btn-primary" href={{app.request.headers.get('referer')}}">Cancelar</a>
{% endblock %}
