{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        La pagina solicitada no existe. Dirijase a la <a href="{{ path('login') }}">pagina de Login</a>.Si no, <a href="{{ path('inicio') }}">vuelva al inicio</a>.
    </p>
{% endblock %}