{% extends 'base.html.twig' %}

{% block body %}
<div class="card mt-2" id="tarjetaError">
    <div class="card-header"id="error">
        <h1>Page not found</h1>
    </div>
    <div class="card-body"id="errorBody">
        <p>
            La página solicitada no existe. Diríjase al <a href="{{ path('inicio') }}">inicio</a>.
        </p>
    </div>
        </div>
{% endblock %}