{% extends 'baseLogin.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <form class="form-signin" id="login" method="POST" action="{{ path('autenticar') }}">


        <div class="row ">           
            <div class="col-md-4 offset-md-4 mt-5 mb-5">
                <hr>
                <label for="usuario" class="sr-only">Usuario</label>
                <input type="text" class="form-control" name="username" placeholder="Usuario" required autofocus>
                <br>
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Contraseña" >
                <br>
                <hr>
                <button style="width:100% !important;" class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            </div>
        </div>

        
        
    </form>


{% endblock %}
