{% extends 'base.html.twig' %}

{% block body %}
    {% block addStyleSheets %}
        {{ encore_entry_link_tags('estilo') }}
    {% endblock %}
    <div class="card mt-2" id="tarjetaError">
        <div class="card-header">
            <h1>Page not found</h1>
        </div>
        <div class="card-body">
            <p>
            No tiene los permisos para ingresar a la página solicitada. Se le redireccionará al login...
            Si quiere ingresar
            con un usuario habilitado, diríjase a la <a href="{{ path('login') }}">pagina de Login</a>.Si no, <a href="{{ path('inicio') }}">vuelva al inicio</a>.
        </p>
        </div>
    </div>
    
    {% block javascripts %}
    {# {{encore_entry_script_tags('redireccionLogout')}} #}
    {% endblock %}
{% endblock %}