@import "~bootstrap/dist/css/bootstrap.min.css"; 
@import "~bootstrap-select/dist/css/bootstrap-select.css";
@import "bootstrap-tagsinput.css";



/* .btn-primary{
    width: 11rem !important;

}


.btn-danger{
    width: 11rem !important;

}
.btn-info{
    width: 11rem !important;
    
} 
.btn-success{
    width: 11rem !important;
    
}
.btn-l{
    width: fit-content;
}   */

.columnaOp{
    width: 9% !important;
}
