@import "~bootstrap/dist/css/bootstrap.min.css";


#selectIds{
    display: none !important;
}

@media (max-width: 350px) and (min-width: 300px) {
    h1{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 700 !important;
        color: #008FA3 !important;
        font-size: 40px !important;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    #tarjeta{
        font-family: 'Montserrat', sans-serif !important;
        align-items: center;
        border-color: #005B88 solid;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 10px 10px lightblue; 
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        padding: 1%;
    }

    .h5{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 500 !important;
        color:#595959;
        margin-top: 2%;
    }

    .dropdown-menu{
        width: 100% !important;
    }

    .dropdown-item.active.selected{
        background-color: #41b1c3 !important;
    }

    /*-------------------BOTON GUARDAR------------------------*/
    .btn-success{
        float: right;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300;
        font-size: xx-small !important;
        background-color: #008fa3;
        border-color: #008fa3;
        color: white;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-success:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #005B88;
        font-weight:400 !important;
        font-size: xx-small !important;
        background-color: #d3d3d3 !important;
        border: 1px solid #008fa3 !important ;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }
    /*---------------------------------------------------------*/
    /*-------------------BOTON VOLVER--------------------------*/
    .btn-primary{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #d3d3d3  !important; 
        font-weight:400 !important;
        font-size: xx-small !important;
        background-color: #d3d3d3 !important;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-primary:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: white !important;
        border-color: #008fa3 !important;
        background-color: #008fa3 !important;
        box-shadow:rgb(0 0 0 / 35%) 0px 5px 15px; 
    }
    /*---------------------------------------------------------*/
    .mt-3{
        font-family: 'Montserrat', sans-serif !important;
    }

    .form-control{
        background-color: #e6e6e6;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_chrome{
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_top{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }
    .cke_bottom{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }

    label{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 600;
        color: #008fa3;
    }

    .btn.dropdown-toggle.btn-light.bs-placeholder{
        background-color: #e6e6e6;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .dropdown.bootstrap-select.show-tick.form-control{
        background-color: white !important;
        box-shadow: none !important;
    }

    .custom-file-label{
        background-color: #e6e6e6 !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .custom-file-label::after{
        background-color:#d3d3d3;
    }

    .select2-selection.select2-selection--multiple{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-search__field{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-results__options{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #41b1c3 !important;
    }

    .btn.dropdown-toggle.btn-light{
        background-color: #e6e6e6 !important;
        border-color: #b2b2b2;
        width: 100% !important;
    }

    .btn{
        background-color: #008fa3;
        border-color: #008fa3;
    }

    .dropdown.bootstrap-select.form-control{
    background-color: white;
    box-shadow: none;
    }

    .custom-file-label::after {
        content: "Examinar" !important;
    }

    .btn{
        width: 20% !important;
    }
}

@media(max-width:519px) and (min-width:351px){
    h1{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 700 !important;
        color: #008FA3 !important;
        font-size: 40px !important;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    #tarjeta{
        font-family: 'Montserrat', sans-serif !important;
        align-items: center;
        border-color: #005B88 solid;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 10px 10px lightblue; 
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        padding: 1%;
    }

    .h5{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 500 !important;
        color:#595959;
        margin-top: 2%;
    }

    .dropdown-menu{
        width: 100% !important;
    }

    .dropdown-item.active.selected{
        background-color: #41b1c3 !important;
    }

    /*-------------------BOTON GUARDAR------------------------*/
    .btn-success{
        float: right;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300;
        font-size: small !important;
        background-color: #008fa3;
        border-color: #008fa3;
        color: white;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-success:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #005B88;
        font-weight:400 !important;
        font-size: small !important;
        background-color: #d3d3d3 !important;
        border: 1px solid #008fa3 !important ;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }
    /*---------------------------------------------------------*/
    /*-------------------BOTON VOLVER--------------------------*/
    .btn-primary{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #d3d3d3  !important; 
        font-weight:400 !important;
        font-size: small !important;
        background-color: #d3d3d3 !important;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-primary:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: white !important;
        border-color: #008fa3 !important;
        background-color: #008fa3 !important;
        box-shadow:rgb(0 0 0 / 35%) 0px 5px 15px; 
        font-size: small !important;
    }
    /*---------------------------------------------------------*/
    .mt-3{
        font-family: 'Montserrat', sans-serif !important;
    }

    .form-control{
        background-color: #e6e6e6;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_chrome{
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_top{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }
    .cke_bottom{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }

    label{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 600;
        color: #008fa3;
    }

    .btn.dropdown-toggle.btn-light.bs-placeholder{
        background-color: #e6e6e6;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .dropdown.bootstrap-select.show-tick.form-control{
        background-color: white !important;
        box-shadow: none !important;
    }

    .custom-file-label{
        background-color: #e6e6e6 !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .custom-file-label::after{
        background-color:#d3d3d3;
    }

    .select2-selection.select2-selection--multiple{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-search__field{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-results__options{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #41b1c3 !important;
    }

    .btn.dropdown-toggle.btn-light{
        background-color: #e6e6e6 !important;
        border-color: #b2b2b2;
        width: 100% !important;
    }

    .btn{
        background-color: #008fa3;
        border-color: #008fa3;
    }

    .dropdown.bootstrap-select.form-control{
    background-color: white;
    box-shadow: none;
    }

    .custom-file-label::after {
        content: "Examinar" !important;
    }

    .btn{
        width: 20% !important;
    }
}

@media (max-width: 767px) and (min-width: 520px){
    h1{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 700 !important;
        color: #008FA3 !important;
        font-size: 40px !important;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    #tarjeta{
        font-family: 'Montserrat', sans-serif !important;
        align-items: center;
        border-color: #005B88 solid;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 10px 10px lightblue; 
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        padding: 1%;
    }

    .h5{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 500 !important;
        color:#595959;
        margin-top: 2%;
    }

    .dropdown-menu{
        width: 100% !important;
    }

    .dropdown-item.active.selected{
        background-color: #41b1c3 !important;
    }

    /*-------------------BOTON GUARDAR------------------------*/
    .btn-success{
        float: right;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300;
        font-size: large !important;
        background-color: #008fa3;
        border-color: #008fa3;
        color: white;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-success:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #005B88;
        font-weight:400 !important;
        font-size: large !important;
        background-color: #d3d3d3 !important;
        border: 1px solid #008fa3 !important ;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }
    /*---------------------------------------------------------*/
    /*-------------------BOTON VOLVER--------------------------*/
    .btn-primary{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #d3d3d3  !important; 
        font-weight:400 !important;
        font-size: large !important;
        background-color: #d3d3d3 !important;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-primary:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: white !important;
        border-color: #008fa3 !important;
        background-color: #008fa3 !important;
        box-shadow:rgb(0 0 0 / 35%) 0px 5px 15px; 
    }
    /*---------------------------------------------------------*/
    .mt-3{
        font-family: 'Montserrat', sans-serif !important;
    }

    .form-control{
        background-color: #e6e6e6;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_chrome{
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_top{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }
    .cke_bottom{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }

    label{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 600;
        color: #008fa3;
    }

    .btn.dropdown-toggle.btn-light.bs-placeholder{
        background-color: #e6e6e6;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .dropdown.bootstrap-select.show-tick.form-control{
        background-color: white !important;
        box-shadow: none !important;
    }

    .custom-file-label{
        background-color: #e6e6e6 !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .custom-file-label::after{
        background-color:#d3d3d3;
    }

    .select2-selection.select2-selection--multiple{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-search__field{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-results__options{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #41b1c3 !important;
    }

    .btn.dropdown-toggle.btn-light{
        background-color: #e6e6e6 !important;
        border-color: #b2b2b2;
        width: 100% !important;
    }

    .btn{
        background-color: #008fa3;
        border-color: #008fa3;
    }

    .dropdown.bootstrap-select.form-control{
    background-color: white;
    box-shadow: none;
    }

    .custom-file-label::after {
        content: "Examinar" !important;
    }

    .btn{
        width: 20% !important;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    h1{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 700 !important;
        color: #008FA3 !important;
        font-size: 40px !important;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    #tarjeta{
        font-family: 'Montserrat', sans-serif !important;
        align-items: center;
        border-color: #005B88 solid;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 10px 10px lightblue; 
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        padding: 1%;
    }

    .h5{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 500 !important;
        color:#595959;
        margin-top: 2%;
    }

    .dropdown-menu{
        width: 100% !important;
    }

    .dropdown-item.active.selected{
        background-color: #41b1c3 !important;
    }

    /*-------------------BOTON GUARDAR------------------------*/
    .btn-success{
        float: right;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300;
        font-size: large !important;
        background-color: #008fa3;
        border-color: #008fa3;
        color: white;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-success:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #005B88;
        font-weight:400 !important;
        font-size: large !important;
        background-color: #d3d3d3 !important;
        border: 1px solid #008fa3 !important ;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }
    /*---------------------------------------------------------*/
    /*-------------------BOTON VOLVER--------------------------*/
    .btn-primary{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #d3d3d3  !important; 
        font-weight:400 !important;
        font-size: large !important;
        background-color: #d3d3d3 !important;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-primary:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: white !important;
        border-color: #008fa3 !important;
        background-color: #008fa3 !important;
        box-shadow:rgb(0 0 0 / 35%) 0px 5px 15px; 
    }
    /*---------------------------------------------------------*/
    .mt-3{
        font-family: 'Montserrat', sans-serif !important;
    }

    .form-control{
        background-color: #e6e6e6;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_chrome{
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_top{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }
    .cke_bottom{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }

    label{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 600;
        color: #008fa3;
    }

    .btn.dropdown-toggle.btn-light.bs-placeholder{
        background-color: #e6e6e6;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .dropdown.bootstrap-select.show-tick.form-control{
        background-color: white !important;
        box-shadow: none !important;
    }

    .custom-file-label{
        background-color: #e6e6e6 !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .custom-file-label::after{
        background-color:#d3d3d3;
    }

    .select2-selection.select2-selection--multiple{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-search__field{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-results__options{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #41b1c3 !important;
    }

    .btn.dropdown-toggle.btn-light{
        background-color: #e6e6e6 !important;
        border-color: #b2b2b2;
        width: 100% !important;
    }

    .btn{
        background-color: #008fa3;
        border-color: #008fa3;
    }

    .dropdown.bootstrap-select.form-control{
    background-color: white;
    box-shadow: none;
    }

    .custom-file-label::after {
        content: "Examinar" !important;
    }

    .btn{
        width: 20% !important;
    }
}

@media (min-width: 1200px) {
    
    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-right.datepicker-orient-top{
        font-family: 'Montserrat', sans-serif !important;
    max-width: 200px;
    }
    h1{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 700 !important;
        color: #008FA3 !important;
        font-size: 40px !important;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    #tarjeta{
        font-family: 'Montserrat', sans-serif !important;
        align-items: center;
        border-color: #005B88 solid;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 10px 10px lightblue; 
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        padding: 1%;
    }

    .h5{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 500 !important;
        color:#595959;
        margin-top: 2%;
    }

    .dropdown-menu{
        width: 100% !important;
    }

    .dropdown-item.active.selected{
        background-color: #41b1c3 !important;
    }

    /*-------------------BOTON GUARDAR------------------------*/
    .btn-success{
        float: right;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300;
        font-size: large !important;
        background-color: #008fa3;
        border-color: #008fa3;
        color: white;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-success:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #005B88;
        font-weight:400 !important;
        font-size: large !important;
        background-color: #d3d3d3 !important;
        border: 1px solid #008fa3 !important ;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }
    /*---------------------------------------------------------*/
    /*-------------------BOTON VOLVER--------------------------*/
    .btn-primary{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #d3d3d3  !important; 
        font-weight:400 !important;
        font-size: large !important;
        background-color: #d3d3d3 !important;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .btn-primary:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: white !important;
        border-color: #008fa3 !important;
        background-color: #008fa3 !important;
        box-shadow:rgb(0 0 0 / 35%) 0px 5px 15px; 
    }
    /*---------------------------------------------------------*/
    .mt-3{
        font-family: 'Montserrat', sans-serif !important;
    }

    .form-control{
        background-color: #e6e6e6;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_chrome{
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .cke_top{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }
    .cke_bottom{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
    }

    label{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 600;
        color: #008fa3;
    }

    .btn.dropdown-toggle.btn-light.bs-placeholder{
        background-color: #e6e6e6;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .dropdown.bootstrap-select.show-tick.form-control{
        background-color: white !important;
        box-shadow: none !important;
    }

    .custom-file-label{
        background-color: #e6e6e6 !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .custom-file-label::after{
        background-color:#d3d3d3;
    }

    .select2-selection.select2-selection--multiple{
        font-family: 'Montserrat', sans-serif !important;
        background-color: #e6e6e6 !important;
        border-color: #aaa;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-search__field{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-results__options{
        font-family: 'Montserrat', sans-serif !important;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 5px;
    }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #41b1c3 !important;
    }

    .btn.dropdown-toggle.btn-light{
        background-color: #e6e6e6 !important;
        border-color: #b2b2b2;
        width: 100% !important;
    }

    .btn{
        background-color: #008fa3;
        border-color: #008fa3;
    }

    .dropdown.bootstrap-select.form-control{
    background-color: white;
    box-shadow: none;
    }

    .custom-file-label::after {
        content: "Examinar" !important;
    }

    .btn{
        width: 20% !important;
    }
}
