@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~select2/dist/css/select2.min.css";
/* @import "~select2/dist/css/select2.min.css"; */
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";
/* @import "~select2-theme-bootstrap4/dist/select2-bootstrap.css";
@import "~select2-theme-bootstrap4/dist/select2-bootstrap.min.css"; */

@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";


/* @import "~bootstrap-select/dist/css/bootstrap-select.min.css"; */

/* @import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css"; */
/* @import "~select2-theme-bootstrap4"; */
/* @import "~@fortawesome/fontawesome-free/css/all.css";   */

/* 
    Created on : 30-ene-2020, 10:43:19
    Author     : Ariel
*/
/* body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
} */
.headerPrincipal{
    
}

.js-example-basic-multiple{
    border: 0px !important;
} 
.tarjetaUs{
    margin-left: 20% !important;
    margin-right: 20% !important;
    background-color:lightgrey !important;
}
.usuario{
    margin-top: 5% !important;
    color:#005B88 !important;
}
.datepicker,
/* .table-condensed {
  max-width: 200px;
} */
.badgeEstado{
    width: 5rem;
}
#login{
    margin-top: 15vh !important;
}

.header-top {
    width: 100%;
    height: 80px;
    background: #fff;
}
.navbar{
    padding: 0 0;
}
#tituloD{
    /* font: 20px !important; */
    font-family:'Montserrat', sans-serif !important;
}
.barrita{
    margin-top: 6px;
}
.barra {
    width: 50%;
    height: 6px;
    float: left;
    background: #EEE;
}

#cardAdvertencia{
    background: #df0f00;
}
/* #titulo{
    margin-right: 6rem !important;
} */


.btn-info, .bg-info{
    background-color: #66A1AA !important;
}

.btn-danger, .bg-danger, .alert-danger{
    background-color: #940039 !important;
}
/* .btn-primary{
    width: 15rem !important;
}  */

#nav{
    background-color: #008FA3;
    height: 15%;
}

#nav li a {
    text-decoration: none;
    color: #4F5159;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: none;
    padding: 0 12px;
}

#nav li a:hover, #nav li.active a {
    color: #005B88;
}

#nav li a span {
    text-align: center;
    color: #ffffff;
    display: inline-block;
    background-color: orangered;
    line-height: 25px;
    height: 25px;
    margin-left: 5px;
    width: 25px;
    border-radius: 50%;
}
.vigente-noVigente{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #008FA3;
    font-size: 40px;
    margin-left: 33% !important;
    margin-top: 2%;
    margin-bottom: 2%;
}
.titulo{
    margin-right: 10%;
    margin-top: 2%;
}
#tituloD{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 45px;
}
.navbar-nav{
    align-items: center !important;
    margin-right: 10% !important;
    margin-top: 4%;
}
.botonModificado{
    width: 150px;
    height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #808080;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
}
.white{
    background-color: white !important;
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}
.whiteSubitem{
    background-color: white !important;
    border: none !important;
    padding: 0px !important;
}
.cardAzul{
    background-color: #005B88 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    border-radius: 15px !important;
    padding: 20px;
    width: 60%;
    margin-left: 20%;
}

.cardTurquesa{
    background-color: #008FA3 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    border-radius: 15px !important;
    padding: 20px;
    width: 60%;
    margin-left: 20%;
}


.btn-block{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    border: none !important;
    box-shadow: none !important;
}
.btn-block:hover { color: #b2b2b2; }

.botonAzul{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #595959;
    background-color: #ffffff;
    border: solid #ffffff;
    border-radius: 7px !important;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
}
.botonTurquesa{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #595959;
    background-color: #ffffff;
    border: solid #ffffff;
    border-radius: 7px !important;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.botonAzul:hover {
    background-color: #595959 ;
    border: solid #595959;
    border-radius: 7px !important;
    color: #ffffff;
}
.botonTurquesa:hover {
    background-color: #595959;
    border: solid #595959;
    border-radius: 7px !important;
    color: #ffffff;
}

.cardAzulSubitem{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #005B88 !important;
    font-size: 15px;
    border: solid #005B88;
    border-radius: 15px !important;
    padding: 20px;
    width: 60%;
    margin-left: 20%;
}
.cardTurquesaSubitem{
    background-color: #ffffff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #008FA3 !important;
    font-size: 15px;
    border: solid #008FA3 !important;
    border-radius: 15px !important;
    padding: 20px;
    width: 60%;
    margin-left: 20%;
}
.btnSubitemAzul{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #005B88;
    font-size: 15px;
    border: none !important;
    box-shadow: none !important;
}
.btnSubitemTurquesa{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #008FA3;
    font-size: 15px;
    border: none !important;
    box-shadow: none !important;
}
.botonSubitemAzul{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #005B88;
    border: solid #005B88;
    border-radius: 7px !important;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
}
.botonSubitemTurquesa{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #008FA3;
    border: solid #008FA3;
    border-radius: 7px !important;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.botonSubitemAzul:hover {
    background-color: #005B88 ;
    border: solid #005B88;
    border-radius: 7px !important;
    color: #ffffff;
}
.botonSubitemTurquesa:hover {
    background-color: #008FA3;
    border: solid #008FA3;
    border-radius: 7px !important;
    color: #ffffff;
}
.headerItem{
    border: none !important;
    background-color: white !important;
    margin: 0px !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
    
}
.cardNorma{
    border: none !important;
    box-shadow: none !important;
}
.cardWhite{
    background-color: #ffffff;
    border: none;
}
.h5Norma{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    color: #005B88;
    font-size: 30px !important;
}
.cardNormasBody{
    border: 2px solid #b2b2b2;
}
.fuenteNorma{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    color: #005B88;
    font-size: 20px !important;
}
.botonVerNorma{
    background-color: #005B88;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    width: 18%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
    font-size: 25px !important;
    border-radius: 10px !important;
}



#consultaEnviada{
    margin-top: 15% !important;
    border-radius: 5px !important;
    border: 2px solid !important;
    border-color: #3ba9b5 !important;

}

#consultaNoEnviada{
    margin-top: 15% !important;
    border-radius: 5px !important;
    border: 2px solid !important;
    border-color: #b63232 !important;

}

#textoCartelConsulta{
    margin: 1rem !important;
}

.card .card-header button{
    width: auto;
    display: inline !important;
}
.card .card-header a {
    width: auto;
    display: inline !important;
}
.card .card-header a button{
    width: auto;
    display: inline !important;
}
.card .card-header span{
    color: blue;
    float: right !important;
}
.card .card-body{
    margin-left: 25px;
    margin-right: 25px;
}
.table thead tr th{
    font-weight:bold;
    font-size: 12px;
}
.table tbody tr td{
    font-size: 12px;
}

.hide{
    visibility: hidden;
}
/* .btn-sm-table{
    padding: 0.3rem 0.8rem;
    font-size: 0.54rem;
} */
/*============== Paginator pagination v2 =============**/
.pagination{
    font-family:'Montserrat', sans-serif !important;
    font-weight: 600;
}
.page-item.active .page-link {
    background-color:white  !important;
    border: 2px solid #595959;
}
.page-link {
    color:#808080 !important;
    margin-left: 3px;
    border-radius: 5px;
}
.input-group{
    width: 16rem;
}
#botonLupita{
    width: 5rem!important;
    margin-left: 2px;
    display: inline !important;
}

#containerHeader{
    background-color: #005B88;
    color:white;
    font-family:'Montserrat', sans-serif !important;
    height: 6%;
    width: 100% !important;
    /* font-size: medium; */
    /* border: 2px solid !important; */
    /* border-radius:5px !important; */
    /* border-top-color: #47BCCA  !important;
    border-bottom-color: #66A1AA  !important; */
    /* border-color: #ffffff  !important; */
    /* box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2); */
    /* margin-bottom: 1rem !important; */
    /* position: relative !important; */
}
.nav-link{
    color: white;
}
#busquedaRapida{
    font-family:'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: small;
    float: right;
    margin-top: 4%; 
    margin-bottom: 4%; 
    margin-right: 8%;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 5px;
}
#busqueda-input{
    position: relative !important;
}
#iconoLupa{
    font-family:'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: small;
    color: #595959;
	position: absolute;
	width: 13px;
	height: 13px;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
#txt{
    font-family:'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: large;
    color:white;
    float: left;
    margin-top: 15px;
}


/* #containerC{
    margin-top: 20px;
    position: relative !important;
}
.busqueda{
    margin-left: 70%;
    position:absolute !important;
} */

.footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
    color: #005b88;
    width: 100%;  
    height: 5%;
    min-height: 30px;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.PENDIENTE{
    color: #03A9F4;
}
.CONFIRMADO{
    color: #4CAF50;
}
.CANCELADO{
    color: #F44336;
}

.bg-teal{
    background-color: #47BCCA !important;
}

.pagination li.active a {
    background-color: #47BCCA !important;
}

.col-teal {
    color: #47BCCA !important;
}


#contenedorBotonVolver{
    display: inline-block !important;
}

#botonVolverAtras{
    width: 2rem !important;
    height: 2rem !important;
    font-size: 1rem !important;
    padding-left: 0.6rem !important;
    
}
.h4{
    margin-right: 38% !important;
}
