@import "~bootstrap/dist/css/bootstrap.min.css";

.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 10vh !important;
    padding: 20px;
    border: 1px solid lightgray;
    width: 60%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.columnaOp{
    color:white !important;
    font-size: larger;
    text-align: center !important;
}
.colId{
    width: 5% !important;

}
.colNum{
    width: 12% !important;
}
.colEstado{
    width: 10% !important;
}
.colFecha{
    width: 7% !important;

}
.desc{
    color:white !important;
    font-size: larger;
}
.asc{
    color:white !important;
    font-size: larger;
}
.sortable{
    color:white !important;
    font-size: larger;
}
#divBotonesOpNorma{
    text-align: center !important;
}
#headIndex{
    font-family:'Montserrat', sans-serif !important;

    background-color: #008FA3;
    color:white !important;
}

.tbody{
    font-family:'Montserrat', sans-serif !important;
    font-weight: 400;
    font-size: small;
    background-color: #d3d3d3;
    color:#595959 !important;
}
.btn{
    font-family:'Montserrat', sans-serif !important;
    font-weight: 300;
    font-size: small;
    background-color: #005B88;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100% !important;
}


