@import "~bootstrap/dist/css/bootstrap.min.css";

@media (max-width: 504px) and (min-width: 400px){
    #containerBotones{
        text-align: center !important;
    }
    .divBotones{
        width: 100% !important;
    }

    .botones{
        margin: auto;
        width: 100% !important;
        height: 2.5em !important;
    }

    #botonVolver{
        width: 100% !important;
    }
    #botonCheck{
        width: 100% !important;
    }

    .divBotonVolver{
        width: 100% !important;

    }
    
    /* .busqueda-input{
        width: 100% !important;
    } */

    /* .headerPdf{
        text-align: center !important;
    } */

    #busquedaTexto{
        width: 80% !important;
    }
    .botonVerde{
        width: 20% !important;
        margin: 0% !important
    }

    .contenedorBotonVolver{
        margin-right: auto !important;
        position: absolute !important;
        left: 5% !important;
        
    }

    .h4{
        float: none !important;
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .modalContainer {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modalContainer .modal-content {
        background-color: #fefefe;
        margin: auto;
        margin-top: 15vh !important;
        padding: 20px;
        border: 1px solid lightgray;
        width: 60%;
    }

    .modalContainer .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .modalContainer .close:hover,
    .modalContainer .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #h5Archivos{
        display: inline !important;
    }

    #botonMas{
        display: inline-block !important;
        border-radius: 50% !important;
    }

}

@media (max-width: 767px) and (min-width: 505px) {
    #containerBotones{
        text-align: center !important;
    }
    .divBotones{
        width: 100% !important;
    }

    .botones{
        width: 50% !important;
    }

    #botonVolver{
        width: 40% !important;
    }

    .divBotonVolver{
        width: 100% !important;
    }

    .botonAtras{
        top:22;
        left: 10;
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }


    .fa-chevron-left{
        margin-top: 1px;
    }

    .columnaRela{
        width: 20% !important;
    }
    

    .h4{
        float: none !important;
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .modalContainer {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modalContainer .modal-content {
        background-color: #fefefe;
        margin: auto;
        margin-top: 15vh !important;
        padding: 20px;
        border: 1px solid lightgray;
        width: 60%;
    }

    .modalContainer .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .modalContainer .close:hover,
    .modalContainer .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #h5Archivos{
        display: inline !important;
    }

    #botonMas{
        display: inline-block !important;
        border-radius: 50% !important;
    }

}

@media (max-width: 1999px) and (min-width: 768px) {
    #containerBotones{
        text-align: center !important;
    }
    

    .botonAtras{
        top:18;
        left: 40;
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 20px;
        background-color: #ffffff;
        color: #005B88;
        border: 1px solid #ffffff;
    }
    .botonAtras:hover{
        background-color: #ffffff !important;
        color: #005B88 !important;
        border: 1px solid #ffffff !important;
    }

    .fa-chevron-left{
        margin-top: 1.5px;
    }

    .contenedorBotonVolver{
        float: left !important;
    }

    .divBotones{
        display: inline-block;
        width: 40% !important;
    }

    .botones{
        width: 80% !important;
    }

    #botonVolver{
        width: 30% !important;
    }

    .divBotonVolver{
        width: 100% !important;
    }

    .contenedorBotonPDF{
        float: left !important;
        width: 30% !important;
        display: inline;
        margin-left: 6% !important;
    }

    #tablaRela{
        font-family:'Montserrat', sans-serif !important;
        border: 2px solid #005B88;
        border-radius: 5px !important;
        border-spacing: 0px;
        border-collapse: separate;
    }
    .thead{
        background-color: #005B88;
        color: white;
    }
    .tbody{
        font-family:'Montserrat', sans-serif !important;
        font-weight: normal; /* regular */
        /* font-stretch: narrower; */
        color:#005B88;
        border-top:2px solid #005B88 !important;
        border-bottom:2px solid #005B88 !important;
        border-left:2px solid #005B88 !important;
        border-right:2px solid #005B88 !important;
    }

    #relacionNorHead{
        border-top: #005B88 solid !important;
        border-bottom: #005B88 solid !important;
    }
    #relacionColHead{
        border-top: #005B88 solid !important;
        width: 20% !important;
        border-bottom: #005B88 solid !important; 
    }
    #relacionCol{
        border-top: #005B88 solid !important;
        width: 20% !important;
    }
    #relacionNor{
        border-top: #005B88 solid !important;
    }
    #relacionEdit{
        border-top: #005B88 solid !important;
        width: 10% !important;
    }
    #relacionEditHead{
        border-top: #005B88 solid !important;
        width: 10% !important;
        border-bottom: #005B88 solid !important; 
    }
    .card-header{
        text-align: center !important;
        font-family:'Montserrat', sans-serif !important;
        font-weight: 700; /* bold */
        font-size:x-large;
        color:white;
        background: #005B88 ;
        position: relative !important;
    }

    .ciriculo{
        position: absolute !important;
        width: 20px !important;
        height: 20px !important;
        background-color:red !important;
        border-radius: 50% !important;
        left: 10px !important;
        top: 0 !important;
    }

    .card-title{
        text-align: center !important;
        font-family:'Montserrat', sans-serif !important;
        font-weight: 700; /* bold */
        color: #005B88;
    }

    #cardArchivos{
        border-color: #005B88;
        border-width: 2px;
        border-radius: 10px;
        /* box-shadow: 10px 10px lightblue; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #cardTexto{
        font-family:'Montserrat', sans-serif !important;
        color: #005B88;
        border-color:008FA3 ;
    }
    #busqueda-input-texto{
        margin-right: 28% !important;
    }
    #busquedaTexto{
        border: 1px solid #808080;
    }
    .findAndSeek{
        margin-top:15px;
        display: inline;
    }
    .btn-sm {
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300;
        font-size: small;
        background-color: #008fa3 !important;
        color: white;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        border-color: #008fa3;
        /* height: 100% !important; */
    }

    #cardGeneral{
        border-color: #005B88;
    }
    
    #verPdf{
        font-family:'Montserrat', sans-serif !important;
        font-weight: 300;
        font-size: small;
        background-color: #005B88;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 100% !important;
    }
    
    .form-control{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
    .card-text{
        text-align: left !important;
        font-size:smaller;
        font-family:'Montserrat', sans-serif !important;
        font-weight: 400; /* bold */
        color: #005B88;
    }

    .modalContainer {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modalContainer .modal-content {
        background-color: #fefefe;
        margin: auto;
        margin-top: 15vh !important;
        padding: 20px;
        border: 1px solid lightgray;
        width: 60%;
    }

    .modalContainer .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .modalContainer .close:hover,
    .modalContainer .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #h5Archivos{
        display: inline !important;
    }

    .contenedorBotonMas{
        display: inline-block !important;
        width: 2rem !important;
        height: 2rem !important;
    }
    #botonMas{
        display: inline-block !important;
        border-radius: 50% !important;
        height: 100% !important;
        width: 100% !important;
    }
    .iconoMas{
        margin-top: 25% !important;
    }
}

@media (min-width: 1200px) {
    #containerBotones{
        text-align: center !important;
    }

    .divBotones{
        display: inline-block;
        width: 18% !important;
    }
    .divBotones1{
        display: inline-block;
        width: 30% !important;
    }

    .botones{
        width: 100% !important;
    }

    #pieNormaShow{
        display: inline-block;
    }

    #botonVolver{
        width: 20% !important;
        margin-left: 80%!important;
    }

    .contenedorBotonPDF{
        width: 20% !important;
    }

    .divBotonVolver{
        font-family:'Montserrat', sans-serif !important;
        width: 100% !important;
    }
    #btn{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300;
        font-size: large !important;
        background-color: #008fa3;
        border-color: #008fa3;
        color: white;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        margin-top: 1%;
        margin-bottom: 1%;
        align-items: center;
        /* width: 20% !important; */
    }
    #btn:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #005B88;
        font-weight:400 !important;
        font-size: large !important;
        background-color: #d3d3d3 !important;
        border: 1px solid #008fa3 !important ;
        /* border: #008fa3; */

        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        margin-top: 1%;
        margin-bottom: 1%;
        align-items: center;
    
    }

    .modalContainer {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modalContainer .modal-content {
        background-color: #fefefe;
        margin: auto;
        margin-top: 10vh !important;
        padding: 20px;
        border: 1px solid lightgray;
        width: 60%;
    }

    .modalContainer .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .modalContainer .close:hover,
    .modalContainer .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #linkArchivo{
        text-align: center !important;
        font-family:'Montserrat', sans-serif !important;
        font-weight: 400; /* regular */
        margin-top: 2%;
        font-size: small;
    }

    .columnaRela{
        border-top: #005B88 solid !important;
        width: 10% !important;
    }

    #h5Archivos{
        display: inline !important;
        text-align: center !important;
        font-family:'Montserrat', sans-serif !important;
        font-weight: 550; /* bold */
        color: #005B88;
        font-size: x-large;
        font-stretch: semi-condensed;
    }
    .btn-sm:hover{
        font-family: 'Montserrat', sans-serif !important;
        color: #008fa3 !important;
        border-color: #005B88;

        background-color: #d3d3d3 !important;
        border: 1px solid #008fa3 !important ;
    }
    #botonMas{
        display: inline-block !important;
        border-radius: 50% !important;
    } 
    #botonMas:hover{
        color: #008fa3 !important;
        border-color: #005B88 !important;

        background-color: #d3d3d3 !important;
        border: 1px solid #008fa3 !important ;
    }
    #trRela{
        border-bottom:#005B88 !important ;
    }
    #relacionEdit{
        border-top: #005B88 solid !important;
        width: 10% !important;
        border-bottom: #005B88  !important;
    }
    #relacionEditHead{
        border-top: #005B88 solid !important;
        width: 10% !important;
        border-bottom: #005B88 solid !important; 
    }
    .containerEliminar{
        margin-left: 40%;
        width: 20% !important;
    }
}