.containerPdf{
    font-family: 'Montserrat', sans-serif !important;
}
.titulo{
    text-align: center !important;
    font-size: 20px !important;
    font-family: 'Montserrat', sans-serif !important;
}
.containerImg{
    border-color: black !important;
    display: inline !important;
}
#logoHcdPdf{
    height: 60px !important;
    width: 165px !important;
    margin-top: 23px !important;
    float: right !important;
    margin-right: 5px !important;
}
#separador{
    color:black !important;
    height: 1px !important;
    margin-top: 100% !important;
    margin-bottom: 0% !important;
}
#separadorH{
    color:black !important;
    height: 1px !important;
}
#footer{
    text-align: right;
    display: flex !important;
    font-family: 'Montserrat', sans-serif !important;
}
p{
    text-align: justify !important;
}