@import "~bootstrap/dist/css/bootstrap.min.css";

@media (max-width: 504px) and (min-width: 400px){
    .spinnerContainer {
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255,255,255,1);
    }

    .spring-spinner, .spring-spinner * {
        box-sizing: border-box;
    }

    .spring-spinner {
        height: 60px;
        width: 60px;
        margin-top: 30vh;
        margin-left: 44vw;
    }

    .spring-spinner .spring-spinner-part {
        overflow: hidden;
        height: calc(60px / 2);
        width: 60px;
    }

    .spring-spinner  .spring-spinner-part.bottom {
        transform: rotate(180deg) scale(-1, 1);
    }

    .spring-spinner .spring-spinner-rotator {
        width: 60px;
        height: 60px;
        border: calc(60px / 7) solid transparent;
        border-right-color: #66A1AA;
        border-top-color: #47BCCA;
        border-radius: 50%;
        box-sizing: border-box;
        animation: spring-spinner-animation 3s ease-in-out infinite;
        transform: rotate(-200deg);
    }

    @keyframes spring-spinner-animation {
        0% {
            border-width: calc(60px / 7);
        }
        25% {
            border-width: calc(60px / 23.33);
        }
        50% {
            transform: rotate(115deg);
            border-width: calc(60px / 7);
        }
        75% {
            border-width: calc(60px / 23.33);
        }
        100% {
            border-width: calc(60px / 7);
        }
    }

    .textoSpinner{
        width: 100% !important;
    }
}

@media (max-width: 767px) and (min-width: 505px){
    .spinnerContainer {
        position: absolute;
        top: 38%;
        left: 35%;
        margin: -25px 0 0 -25px;
        /* position: fixed; */
        z-index: 1;
        /* padding-top: 100px; */
        /* left: 700;
        top: 300; */
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255,255,255,0);
    }
    .spinnerFondo{
        width: 30% !important;
        height: 25% !important;
        background-color: #d9d9d9;
        font-family: 'Montserrat'; 
        font-weight: 700 !important;
        padding: auto;
        border: 2px solid #005B88;
        border-radius: 5px;
        padding-top: 3% !important;
    }

    .spring-spinner, .spring-spinner * {
        box-sizing: border-box;
    }

    .spring-spinner {
        height: 60px;
        width: 60px;
        margin-left: 38%;
    }

    .spring-spinner .spring-spinner-part {
        overflow: hidden;
        height: calc(60px / 2);
        width: 60px;
    }

    .spring-spinner  .spring-spinner-part.bottom {
        transform: rotate(180deg) scale(-1, 1);
    }

    .spring-spinner .spring-spinner-rotator {
        width: 60px;
        height: 60px;
        border: calc(60px / 7) solid transparent;
        border-right-color: #66A1AA;
        border-top-color: #47BCCA;
        border-radius: 50%;
        box-sizing: border-box;
        animation: spring-spinner-animation 3s ease-in-out infinite;
        transform: rotate(-200deg);
    }

    @keyframes spring-spinner-animation {
        0% {
            border-width: calc(60px / 7);
        }
        25% {
            border-width: calc(60px / 23.33);
        }
        50% {
            transform: rotate(115deg);
            border-width: calc(60px / 7);
        }
        75% {
            border-width: calc(60px / 23.33);
        }
        100% {
            border-width: calc(60px / 7);
        }
    }

    .textoSpinner{
        width: 100% !important;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .spinnerContainer {
        position: absolute;
        top: 38%;
        left: 35%;
        margin: -25px 0 0 -25px;
        /* position: fixed; */
        z-index: 1;
        /* padding-top: 100px; */
        /* left: 700;
        top: 300; */
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255,255,255,0);
    }
    .spinnerFondo{
        width: 30% !important;
        height: 25% !important;
        background-color: #d9d9d9;
        font-family: 'Montserrat'; 
        font-weight: 700 !important;
        padding: auto;
        border: 2px solid #005B88;
        border-radius: 5px;
        padding-top: 3% !important;
    }

    .spring-spinner, .spring-spinner * {
        box-sizing: border-box;
    }

    .spring-spinner {
        height: 60px;
        width: 60px;
        margin-left: 40%;
    }

    .spring-spinner .spring-spinner-part {
        overflow: hidden;
        height: calc(60px / 2);
        width: 60px;
    }

    .spring-spinner  .spring-spinner-part.bottom {
        transform: rotate(180deg) scale(-1, 1);
    }

    .spring-spinner .spring-spinner-rotator {
        width: 60px;
        height: 60px;
        border: calc(60px / 7) solid transparent;
        border-right-color: #66A1AA;
        border-top-color: #47BCCA;
        border-radius: 50%;
        box-sizing: border-box;
        animation: spring-spinner-animation 3s ease-in-out infinite;
        transform: rotate(-200deg);
    }

    @keyframes spring-spinner-animation {
        0% {
            border-width: calc(60px / 7);
        }
        25% {
            border-width: calc(60px / 23.33);
        }
        50% {
            transform: rotate(115deg);
            border-width: calc(60px / 7);
        }
        75% {
            border-width: calc(60px / 23.33);
        }
        100% {
            border-width: calc(60px / 7);
        }
    }

    .textoSpinner{
        width: 100% !important;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    .spinnerContainer {
        position: absolute;
        top: 38%;
        left: 35%;
        margin: -25px 0 0 -25px;
        /* position: fixed; */
        z-index: 1;
        /* padding-top: 100px; */
        /* left: 700;
        top: 300; */
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255,255,255,0);
    }
    .spinnerFondo{
        width: 30% !important;
        height: 25% !important;
        background-color: #d9d9d9;
        font-family: 'Montserrat'; 
        font-weight: 700 !important;
        padding: auto;
        border: 2px solid #005B88;
        border-radius: 5px;
        padding-top: 3% !important;
    }

    .spring-spinner, .spring-spinner * {
        box-sizing: border-box;
    }

    .spring-spinner {
        height: 60px;
        width: 60px;
        margin-left: 43%;
    }

    .spring-spinner .spring-spinner-part {
        overflow: hidden;
        height: calc(60px / 2);
        width: 60px;
    }

    .spring-spinner  .spring-spinner-part.bottom {
        transform: rotate(180deg) scale(-1, 1);
    }

    .spring-spinner .spring-spinner-rotator {
        width: 60px;
        height: 60px;
        border: calc(60px / 7) solid transparent;
        border-right-color: #66A1AA;
        border-top-color: #47BCCA;
        border-radius: 50%;
        box-sizing: border-box;
        animation: spring-spinner-animation 3s ease-in-out infinite;
        transform: rotate(-200deg);
    }

    @keyframes spring-spinner-animation {
        0% {
            border-width: calc(60px / 7);
        }
        25% {
            border-width: calc(60px / 23.33);
        }
        50% {
            transform: rotate(115deg);
            border-width: calc(60px / 7);
        }
        75% {
            border-width: calc(60px / 23.33);
        }
        100% {
            border-width: calc(60px / 7);
        }
    }

    .textoSpinner{
        width: 100% !important;
    }
}

@media (min-width: 1200px) {
    .spinnerContainer {
        position: absolute;
        top: 38%;
        left: 35%;
        margin: -25px 0 0 -25px;
        /* position: fixed; */
        z-index: 1;
        /* padding-top: 100px; */
        /* left: 700;
        top: 300; */
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255,255,255,0);
    }
    .spinnerFondo{
        width: 30% !important;
        height: 25% !important;
        background-color: #d9d9d9;
        font-family: 'Montserrat'; 
        font-weight: 700 !important;
        padding: auto;
        border: 2px solid #005B88;
        border-radius: 5px;
        padding-top: 3% !important;
    }

    .spring-spinner, .spring-spinner * {
        box-sizing: border-box;
    }

    .spring-spinner {
        height: 60px;
        width: 60px;
        margin-left: 45%;
    }

    .spring-spinner .spring-spinner-part {
        overflow: hidden;
        height: calc(60px / 2);
        width: 60px;
    }

    .spring-spinner  .spring-spinner-part.bottom {
        transform: rotate(180deg) scale(-1, 1);
    }

    .spring-spinner .spring-spinner-rotator {
        width: 60px;
        height: 60px;
        border: calc(60px / 7) solid transparent;
        border-right-color: #66A1AA;
        border-top-color: #47BCCA;
        border-radius: 50%;
        box-sizing: border-box;
        animation: spring-spinner-animation 3s ease-in-out infinite;
        transform: rotate(-200deg);
    }

    @keyframes spring-spinner-animation {
        0% {
            border-width: calc(60px / 7);
        }
        25% {
            border-width: calc(60px / 23.33);
        }
        50% {
            transform: rotate(115deg);
            border-width: calc(60px / 7);
        }
        75% {
            border-width: calc(60px / 23.33);
        }
        100% {
            border-width: calc(60px / 7);
        }
    }

    .textoSpinner{
        width: 100% !important;
    }
}