{{ form_start(form,{'attr':{'id':'form_etiqueta'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" id="boton_guardar">{{ button_label|default('Confirmar') }}</button>
{{ form_end(form) }}
