{% extends 'base.html.twig' %}

{% block title %}New Etiqueta{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('createCss') }}
{% endblock %}
    <h1>Crear Etiqueta</h1>

    {{ include('etiqueta/_form.html.twig') }}

    <a href="{{ path('etiqueta_index') }}" class="btn btn-primary">Cancelar</a>
{% endblock %}
