<form method="post" action="{{ path('auditoria_delete', {'id': auditoria.id}) }}" onsubmit="return confirm('¿Estás seguro de que quiere eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auditoria.id) }}">
    <button title="ELIMINAR" class="btn btn-danger btn-sm d-inline"><i class="fa-solid fa-trash-can">
</form>
