{% extends 'base.html.twig' %}

{% block title %}Edit Auditoria{% endblock %}

{% block body %}
    <h1>Edit Auditoria</h1>

    {{ include('auditoria/_form.html.twig', {'button_label': 'Confirmar'}) }}

    <a href="{{ path('auditoria_index') }}">Volver</a>

    {{ include('auditoria/_delete_form.html.twig') }}
{% endblock %}
