{% extends 'base.html.twig' %}

{% block title %}Edit TipoNorma{% endblock %}

{% block body %}
    <h1>Edit TipoNorma</h1>

    {{ include('tipo_norma/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a href="{{ path('tipo_norma_index') }}" class="btn btn-primary">Cancelar</a>

{% endblock %}