{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        La pagina que esta solicitando no ha sido encontrada. Asegurese de haber escrito bien el nombre o <a href="{{ path('inicio') }}">vuelva al inicio</a>.
    </p>
{% endblock %}