{% extends 'base.html.twig' %}

{% block title %}Capitulo index{% endblock %}

{% block body %}
    <h1>Capitulo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for capitulo in capitulos %}
            <tr>
                <td><a href="{{ path('tema_de_capitulo', {'id': capitulo.id}) }}">{{ capitulo.nombre }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('capitulo_new') }}">Create new</a>
{% endblock %}

